include header

doctype html
html(ng-app='reference')
  head
    meta(charset='utf-8')
    title Company
    link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai|Stylish', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    script(src="/javascripts/referenceMain.js")
  body(ng-controller='referenceController')
    .center_grid
      .center_grid
      ul(style="list-style-type:none;")
        li(ng-repeat='x in referencesList')
          .column
            .row
              h1.text {{x.name}}
              h2.text {{x.description}}